<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- fill Css Static -->
    {% load static %}
    <link rel="stylesheet"  href="{% static 'homepost/style.css' %}">
    
    

    <title>Document</title>
</head>
<body>

    <!-- header -->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepost' %}">Web Site Posts </a>


        {%if gender == 'male'%}
          <span>Mr : {{name}}</span>
        {% endif %}
        {%if gender == 'female'%}
          <span>miss : {{name}}</span>
        {% endif %}

        <span class="logout"> <a href="{% url 'logout' %}"> <i class="fab fa-facebook-f fa-x4"></i> > Log Out</a> </span>


        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse flat-right" id="navbarNav">
          <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'homepost' %}" >Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'addpost' %}">Add </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'selectpost' %}">select post</a>
            </li>
            
          </ul>
        </div>
      </nav>
    </header>

    <!-- Content body -->
    {% block body %}
    {% endblock %}
    

   
  </body>
</html>