
{% extends 'base.html' %}

{% block body %}
  <h2> Hello from page Add Post </h2>

  <main class="add-page">
    <form name="form" action="/addpost/succes/" method="POST">{% csrf_token %}
      <div class="content">
        <div class="item-left">
          <div class="email">
            <h4>Posted By : <input type="email" name="email" id="email"  value="{{email}}" readonly> </h4> 
          </div>
          <div class="sup">
            <h5>Supject :</h5> <input type="text" name="topic" id="topic" >
          </div>
          <div class="cont">
            <textarea placeholder="Content" name="content" class="txt" id="content"  cols="30" rows="12"></textarea>
          </div>
        </div>
        <div class="image">
          {% comment %} <input type="file" name="picture" > {% endcomment %}
          <!-- <img style="width: 100%;" src="#" alt="" id="picture"> -->
        </div>     
      </div>
      <div class="up-btn">
        <input type="submit" class="btn btn-success" value="Add Post">
  
      </div>   
  
    </form>
  </main>

{% endblock %}