{% extends 'base.html'%}

{% block body %}
    <h2> Hello From page Home Post </h2>

    {% if items %}
      {% for item in items %}
      <main class="home">
        <div class="content">
          <div class="item-left">
            <div class="email">
              <h4>Posted By :{{item.user}}</h4> 
            </div>
            <div class="sup">
              <h5>Supject : <span>{{item.topic}} </span></h5>
            </div>
            <div class="cont">
              <p placeholder="Content" name="content" id="content">{{item.content}}</p>
            </div>
          </div>
            <div class="image">
              <img src="../../../about2.webp" alt="">
          </div>     
        </div>
        <div class="home-btn">
          {% if email == item.user %}
            <form name = "form" action="/updatepost/" method="POST" style="display: inline-block;">{% csrf_token %}
              <input type="text" name="id" value="{{item.id}}" class="txt">
              <input type="submit" class="btn btn-success" value="Update">
            </form>
            <form name = "form" action="/deletepost/" method="POST" style="display: inline-block;">{% csrf_token %}
              <input type="text" name="id" value="{{item.id}}" class="txt">
              <input type="submit" class="btn btn-danger" value="Delete" >
            </form>

          {% endif%}
        </div> 
      </main>  
        <hr>
      {% endfor %}
    {% endif%} 


      
{% endblock %}