{% extends 'base.html'%}

{% block body %}

    <h2> Hello From page My Posts </h2>

    {% if myposts %}
      {% for mypost in myposts %}
      <main class="sel-page">
        <div class="content">
          <div class="item-left">
            <div class="email" style="">
              <h4>Posted By :{{mypost.user}}</h4> 
            </div>
            <div class="sup">
              <h5>Supject : <span>{{mypost.topic}} </span></h5>
            </div>
            <div class="cont">
              <p placeholder="Content" name="content" id="content">{{mypost.content}}</p>
            </div>
          </div>
          <div class="image">
              <img src="../../../about2.webp" alt="">
          </div>     
        </div>
        <div class="act">
          <form name = "form" action="/updatepost/" method="POST">{% csrf_token %}
            <input type="text" name="id" class="txt" value="{{mypost.id}}">
            <input type="submit" class="btn btn-success" value="Update">
          </form>
          <form name = "form" action="/deletepost/" method="POST">{% csrf_token %}
            <input type="text" name="id" class="txt" value="{{mypost.id}}">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>   
      </main>
        
        <hr>
      {% endfor %}
    {% endif%}  


{% endblock %}