{% extends 'base.html'%}

{% block body %}

    <h2 style= "text-align: center; margin: 50px;"> Hello From page Update Post </h2>


    {% if myposts %}
      <main class="up-page">
        <form name="form" action="/deletepost/updated/" method="POST">{% csrf_token %}
          <div class="content">
            <div class="item-left">
              <div class="email">
                <h4>Posted By : <input type="email" name="email" id="email"  value="{{myposts.user}}"></h4> 
              </div>
              <div class="sup">
                <h5>Supject :</h5> <input value="{{myposts.topic}}" type="text" class="txt" name="topic" id="topic" >
              </div>
              <div class="cont">
                <textarea placeholder="Content"  class="txt" name="content" id="content" cols="30" rows="12">{{myposts.content}}</textarea>
              </div>
            </div>
            <div class="image">
              <img src="../../../about2.webp" alt="">
            </div>     

          </div>
          <div class="act">
            <input type="text" class="txt" name="id" id="id" value="{{myposts.id}}">
            <input type="submit" class="btn btn-success" value="Update">
            
          </div>   
        </form>
      </main>

    {% endif%}
     


      {% endblock %}